
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Links</title>
  </head>
  <body>

    <p> Your saved links </p>
    <ul id='links'>
      <% @links.each do |link| %>
        <li>
          Title:  <%= link.title %>
          URL:    <a href="<%= link.url %>"><%= link.url %></a>
          Tags:   <%= link.tags.map(&:name).join(', ')%>
        </li>
      <% end %>
    </ul>


    <a href="links/new"><button type="button">Add Link</button></a>

    <form action="/tags" method="get">
      <input type="text" name="search_tag" placeholder="Search by tags">
      <input type="submit" value="Search">
    </form>

  </body>
</html>
