<h1> Links with '<%= @tag.map(&:name).join(', ') %>'</h1>
  <% @links.each do |link| %>
    <li>
      Title:  <%= link.title %>
      URL:    <a href="<%= link.url %>"><%= link.url %></a>
    </li>
  <% end %>
